<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div style="height:30px;"></div>
<h3>Daily booking analysis</h3>
<canvas id="bar-chart" width="100%" height="20px"></canvas>
<script>
  // Bar chart
new Chart(document.getElementById("bar-chart"), {
   
    type: 'bar',
    data: {
      labels: ["Checkins", "Checkouts", "Bookings today"],
      datasets: [
        {
          label: "Bookings",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
          data: ['{{this.bookings}}','{{this.checkouts}}','{{this.bookingsno}}']
      
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Daily analysis'
      }
    }
});
</script>
 {{!-- ............................................................................................................ --}}
<div class="row">     
    <div class="todatsarrival col-md-6">
        <h1>Daily Reports:({{this.date}})</h1>
        <div class="row container-fluid">
            <div class="col-md-6">
                <h3>Arrivals:<p id="checkin">{{this.bookings}}</p></h3>
            </div>
            <div class="col-md-6">
                <h3>Checkouts:<p id="checkout">{{this.checkouts}}</p></h3>
            </div>
        </div>
        {{#each docs}}
        <div class="jumbotron">

            <div class="row card container btn-holder" type="button">
                <div class="col-md-6">
                    <p>Event Name: {{#each this.cart }}
                        <span>{{product_name}}</span>{{/each}}</p>
                </div>
                <div class="col-md-6">
                    <p>Number of Visitors: {{#each this.cart }}
                        <span>{{product_qty}}</span>{{/each}}</p>
                </div>
            </div>
            <div class="row card container btn-holder" type="button">
                <div class="col-md-6">
                    <p>Amount Paid: {{#each this.cart }}
                        <span>{{product_price}}</span>{{/each}}</p>
                </div>
                <div class="col-md-6">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">User Details</button>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Mr {{this.user.first_name}} {{this.user.last_name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <span class="glyphicon glyphicon-phone">-</span>{{this.user.telephone}}</p>
                                    <p>
                                        <span class="glyphicon glyphicon-envelope">-</span>{{this.user.email}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="todatsbooking col-md-6">
        <h1>Bookings today:({{this.date}})</h1>
        <div class="row container-fluid">

            <div class="col-md-6">
                <h3>No of bookings:<p id="bookings">{{this.bookingsno}}</p></h3>
            </div>
            <div class="col-md-6">

            </div>
        </div>

        {{#each docs3}}
        <div class="jumbotron">
            <div class="row card container btn-holder" type="button">
                <div class="col-md-6">
                    <p>Event Name: {{#each this.cart }}
                        <span>{{product_name}}</span>{{/each}}</p>
                </div>
                <div class="col-md-6">
                    <p>Number of Visitors: {{#each this.cart }}
                        <span>{{product_qty}}</span>{{/each}}</p>
                </div>
            </div>
            <div class="row card container btn-holder" type="button">
                <div class="col-md-6">
                    <p>Amount Paid: {{#each this.cart }}
                        <span>{{product_price}}</span>{{/each}}</p>
                </div>
                <div class="col-md-6">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">User Details</button>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Mr {{this.user.first_name}} {{this.user.last_name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <span class="glyphicon glyphicon-phone">-</span>{{this.user.telephone}}</p>
                                    <p>
                                        <span class="glyphicon glyphicon-envelope">-</span>{{this.user.email}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>

        {{/each}}



    </div>
</div>