<h3 style="text-align:center;">Daily feeds</h3>
<p id="demo"></p>

<script>
    var d = new Date();
    document.getElementById("demo").innerHTML = d;
</script>
 <marquee direction = "up">
<div class="container">
{{#each orders }}
{{#each this.cart}}
<p>Event:{{this.product_name}}</p>


<div class="row">
<div class="col-md-6">
Arrivals:{{this.product_qty}}
</div>
<div class="col-md-6">
Departures:{{this.product_qty}}
</div>
<div class="row">
    <div class="col-md-6">
Amount paid:{{this.product_price}}
</div>
<div class="col-md-6">
code:{{this.code}}
</div>

</div>
</div>
  {{/each}}
<div class="row">
    <div class="col-md-6">
Payment Status:{{this.status}}
</div>
<div class="col-md-6">
Payment Id:{{this.paymentId}}
</div>

</div>
{{/each}}
</div>

 </marquee>