<h3 style="text-align:center;">Daily feeds</h3>
<p id="demo"></p>

<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Send Message</h1>
        <br>

       To <select  class='form-control' name='to'>
        {{#each custresponse_store}} 
        TO<option  id="tomsg" class="form-control" value="{{this}}">{{this}}</option>
        {{/each}}
       </select>
        FORM<input id="formmsg" class="form-control" value="{{ user._id }}" readonly>
        <br>
        <textarea id="message" class="form-control" placeholder="Your Message Here"></textarea>
        <br>
        <button id="send" class="btn btn-success">Send</button>
    </div>
    <div id="messages">

    </div>
</div>


	 <script src="/socket.io/socket.io.js"></script>
<script>
   var socket = io();
    $(() => {
        $("#send").click(()=>{
            sendMessage({to: $("#tomsg").val(),form: $("#formmsg").val(), message: $("#message").val()});
        })

        getMessages()
    })

    socket.on('message', addMessages)

    function addMessages(message){
        $("#messages").append(`<h4> TO: ${message.to} <br/>FORM: ${message.form} </h4> <p> ${message.message} </p>`)
    }

    function getMessages(){
     var formmsg=document.getElementById("formmsg").value;  
     console.log("Form ID "+formmsg);

      $.get('http://localhost:3000/messagesvendor', (data) => {
        //console.log("Admin Side Console"+data);
        data.forEach(addMessages);
      })
    }

    function sendMessage(message){
      $.post('http://localhost:3000/messages', message)
    }
</script>


<script>
    var d = new Date();
    document.getElementById("demo").innerHTML = d;
</script>
 <marquee direction = "up">
<div class="container">
{{#each orders }}
{{#each this.cart}}
<p>Event:{{this.product_name}}</p>


<div class="row">
<div class="col-md-6">
Arrivals:{{this.product_qty}}
</div>
<div class="col-md-6">
Departures:{{this.product_qty}}
</div>
<div class="row">
    <div class="col-md-6">
Amount paid:{{this.product_price}}
</div>
<div class="col-md-6">
code:{{this.code}}
</div>

</div>
</div>
  {{/each}}
<div class="row">
    <div class="col-md-6">
Payment Status:{{this.status}}
</div>
<div class="col-md-6">
Payment Id:{{this.paymentId}}
</div>

</div>
{{/each}}
</div>

 </marquee>