<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ThrillWorld">
    <meta name="author" content="">
    <title>Thrillworld | {{title}}</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="{{themeurl}}" rel="stylesheet">
    <link href="/stylesheets/tourist.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">
    <link href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
  
</head>

<body>
    {{>eshop/headerall}}
     
    <section class="tophig">
        {{>search}}
        <div class="container">
            {{!--{{>eshop/slider}}--}}
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
                    {{#if successMsg}}
                    <div id="success" class="alert alert-success {{#if noMessage}}hidden{{/if}}">
                        {{successMsg}}
                    </div>
                    {{/if}} {{#if errorMsg}}
                    <div id="danger" class="alert alert-danger {{#if noErrorMsg}}hidden{{/if}}">
                        {{errorMsg}}
                    </div>
                    {{/if}}
                </div>
            </div>
               {{>eshop/left-sidebar-tv}}
            <div class="row">           
                    {{{body}}}
            </div>
        </div>
    </section>
    {{>eshop/footer}}
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.scrollUp.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>


</body>
</html>