<div class="container">
    <div class="row">
        {{# each products }} {{# each this}}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">

                    {{#if ../../isLoggedIn}}
                    <a href='/product/{{this._id}}'></a>
                    {{else}}
                    <a href='/product1/{{this._id}}'></a>
                    {{/if}}
                    <img class="pic-1" src="{{ this.imagePath }}">
                    <img class="pic-2" src="{{ this.imagePath }}">
                    </a>

                    <ul class="social">
                        {{#if ../../isLoggedIn}}
                        <li>
                            <a href='/product/{{this._id}}' data-tip="Quick View">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        {{else}}
                        <li>
                            <a href='/product1/{{this._id}}' data-tip="Quick View">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        {{/if}}

                      <li>
                            <a href="" data-tip="Add to Wishlist">
                                <form action='/add-to-cart' method='POST'>
                                    <input type='hidden'  name='productId' value='{{ this._id }}'>
                                    <input type='hidden' name='imagePath' value='{{ this.imagePath }}'>
                                    <input type='hidden' name='name' value='{{this.name}}'>
                                    <input type='hidden' class='text-right' name='price' value='{{this.price}}'>
                                    <button type='submit' class="btn" role="button"></button>
                                </form>
                            </a>
                            
                        </li>
                         <li>
                            <a href="/checkout/{{this._id}}" data-tip="Book now">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label"> <div class="text-right">
                            {{#if ../../isLoggedIn}}
                            <a href="/like/{{this._id}}" data-toggle="tooltip" title="{{this.likes.length}} likes" class="btn btn-default btn-small">
                                <span class="glyphicon glyphicon-thumbs-up"></span> {{ this.likes.length }}</a>
                            {{else}}
                            <span class="glyphicon glyphicon-thumbs-up"></span> {{ this.likes.length }} {{/if}}
                            <script>
                                $(document).ready(function () {
                                    $('[data-toggle="tooltip"]').tooltip();
                                });
                            </script>

                        </div></span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">{{this.title}}</a>
                    </h3>
                    <div class="price">{{this.price}}
                        <span></span>
                    </div>
                    <p></p>
                   
                </div>
            </div>
        </div>
        {{/each}} {{/each}}

    </div>
</div>