{{#each category}}
<div class="col-md-3">
{{!-- <img class="zoomImg img-responsive" src="{{ this.imagePath }}" alt="sameer"> --}}
<div class="panel panel-default">
    <img src="/images/" alt="Smiley face" height="42" width="42">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="/category/{{this._id}}?q={{../q}}">{{this._id}}
                <span class="pull-right">({{this.count}})</span>
            </a>
        </h4>
    </div>
</div>
</div>
 
{{/each}}