<div id="demo">
    <div class="container-fluid">
        <div class="row">
            {{# each products }}
            <div class="col-md-3">
                {{# each this}}

                <div class="thumbnail">
                    <div class="product_wrapper">
                        <div class="panel-body">
                            <div class="vertical-center thumbnail-image-container">
                                <span id="ex1" class="zoom" style="position: relative; overflow: hidden;">
                                    <a href='/product/{{this._id}}'>
                                        <img class="zoomImg img-responsive" src="{{ this.imagePath }}" alt="..."> {{!--
                                        <script>$('a.img').zoom({ magnify: 4, url: '{{this.imagePath}}' });</script> --}}
                                    </a>
                                </span>
                            </div>
                            <div class="text-left">
                                <h3 class="product-title product-title-home top-pad-10">
                                    <a href='/product/{{this._id}}'>{{this.code}} - {{this.title}}</a>
                                </h3>
                            </div>
                            <div class="text-right">
                                {{#if ../../isLoggedIn}}
                                <a href="/like/{{this._id}}" data-toggle="tooltip" title="{{this.likes.length}} likes" class="btn btn-default btn-small">
                                    <span class="glyphicon glyphicon-heart"></span> {{ this.likes.length }}</a>
                                {{else}}
                                <span class="glyphicon glyphicon-heart"></span> {{ this.likes.length }} {{/if}}
                                <script>
                                    $(document).ready(function () {
                                        $('[data-toggle="tooltip"]').tooltip();
                                    });
                                </script>
                            </div>
                            <h4 class="product-description">
                                {{this.description}}
                            </h4>
                            <a href='./product/{{this._id}}'>
                           <button href='./product/{{this._id}}' value='View' class="btn btn-primary add-to-cart">View more</button>
                            </a>
                           
                        </div>

                        <!-- panelbody-->
                    </div>
                    <!-- product wrapper -->
                </div>
                <!-- thumbnail -->

                <!-- col md-3 -->
                {{/each}}
                <!--each this -->
            </div>
            {{/each}}
            <!-- each products -->
        </div>
    </div>

    <script src="/javascripts/jquery.js"></script> {{!--
    <script>
        $(document).ready(function () {
            var owl = $("#owl-demo");
            owl.owlCarousel({
                autoPlay: 1500,
                items: 3, //10 items above 1000px browser width
                itemsDesktop: [1000, 3], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 3], // 3 items betweem 900px and 601px
                itemsTablet: [600, 2], //2 items between 600 and 0;
                itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                pagination: false
            });
            $(".next").click(function () {
                owl.trigger('owl.next');
            })
            $(".prev").click(function () {
                owl.trigger('owl.prev');
            })
        });
    </script> --}}