<h1 class="feah">Featured in Thrillworld</h1>
<div class="features_items">
    <!--featured_items-->
    {{#each featured}} {{#each this}} {{#if this.name }}
    <div class="col-md-3 panel panel-default">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="{{this.imagePath}}" rel="prettyPhoto" title="{{this.title}}">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="{{this.imagePath}}" alt="Avatar" style="width:100%;height:260px;">
                                </div>
                                <div class="flip-card-back">
                                    <h2>{{this.title}}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    {{#if ../../isLoggedIn}}
                    <a href="/product/{{this._id}}">
                        {{else}}
                        <a href="/product1/{{this._id}}"></a>
                        {{/if}}
                        <p>
                            <h2 color="black">{{this.title}}</h2>
                        </p>
                    </a>
                    <p color="black">{{this.description}}</p>
                    <h4>{{this.code}}</h4>
                    {{#if ../../isLoggedIn}}
                    <a href="/like/{{this._id}}" data-toggle="tooltip" title="{{this.likes.length}} likes" class="btn btn-default btn-small">
                        <span class="glyphicon glyphicon-heart"></span> {{ this.likes.length }}</a>
                    {{else}}
                    <span class="glyphicon glyphicon-heart"></span> {{ this.likes.length }} {{/if}}
                    <a class="text-center">
                        {{#if ../../isLoggedIn}}
                        <a href="/product/{{this._id}}" class="btn btn-primary" role="button">View Details</a>
                        <form action='/add-to-cart' method='POST'>
                        <input type='hidden' id='id' name='productId' value='{{ this._id }}'>
                        <input type='hidden' id='id' name='imagePath' value='{{ this.imagePath }}'>
                         <input type='hidden' name='name' value    ='{{this.name}}'>
                            <input type='hidden' class='text-right' name='price' value='{{this.price}}'>
                     
                        <p class="text-center">
                            <input type='submit' value='Wishlist' class="btn btn-primary add-to-cart" role="button">
                        </p>
                        
                    </form>
                        {{else}}
                        <a href="/product1/{{this._id}}" class="btn btn-primary" role="button">View Details</a>
                        {{/if}}

                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}} {{/each}} {{/each}}