<h1 class="feah">Featured in Thrillworld</h1>
<div class="features_items">
    <!--featured_items-->
    {{#each featured}} {{#each this}} {{#if this.name }}
    <div class="col-md-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="{{this.imagePath}}" rel="prettyPhoto" title="{{this.title}}">
                        <img src="{{this.imagePath}}" width="100" alt="{{this.title}}" />
                    </a>
                    <a href="/product/{{this._id}}">
                        <p>
                            <h2>{{this.title}}</h2>
                        </p>
                    </a>
                    <p>{{this.description}}</p>
                    <h4>{{this.code}}</h4>
                

                    {{#if ../../isLoggedIn}}
                    <a href="/like/{{this._id}}" data-toggle="tooltip" title="{{this.likes.length}} likes" class="btn btn-default btn-small">
                        <span class="glyphicon glyphicon-heart"></span> {{ this.likes.length }}</a>
                    {{else}}
                    <span class="glyphicon glyphicon-heart"></span> {{ this.likes.length }} {{/if}}

                    <a class="text-center">
                        <a href="/product/{{this._id}}" class="btn btn-primary add-to-cart" role="button">View Details</a>
                    </a>



                </div>
              

            </div>

        </div>
    </div>

{{/if}} {{/each}} {{/each}} 

