<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->

		{{#each navcats}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="/category/{{this._id}}?q={{../q}}">{{this._id}}
						<span class="pull-right">({{this.count}})</span>
					</a>
				</h4>
			</div>
		</div>
		{{/each}}
	</div>
	<!--/category-productsr-->
	<h2>Product Groups</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-products-->
		{{#each navgroups}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="/group/{{this._id}}?q={{../q}}">{{this._id}}
						<span class="pull-right">({{this.count}})</span>
					</a>
				</h4>
			</div>
		</div>
		{{/each}}
	</div>
	
	</div>
</div>